<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.seekgu.member.repository.MemberRepository">

    <insert id="saveMember" parameterType="member">
        INSERT INTO member (member_idx, member_name, member_nickname, member_slackId, member_id, member_pw, member_gender)
        values (0, #{memberName}, #{memberNickName}, #{memberSlackId}, #{memberId}, #{memberPw}, #{memberGender})
    </insert>

    <select id="getMemberByIdx" parameterType="Long">
        SELECT * from member WHERE member_idx = #{memberIdx}
    </select>

    <select id="getMemberById" parameterType="String">
        SELECT * FROM member WHERE member_id = #{memberId}
    </select>

</mapper>