<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.seekgu.review.repository.ReviewRepository">

    <insert id="save" parameterType="review">
        INSERT INTO review (review_idx, seekgu_idx, review_rate, member_nickname, review_comment)
        values (0, #{seekguIdx}, 1, #{memberNickname}, #{reviewComment})
    </insert>

</mapper>