<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.seekgu.seekguboard.repository.SeekguBoardRepository">

    <resultMap id="SeekguBoardWithReviewsResultMap" type="com.seekgu.seekguboard.domain.dto.SeekguBoardDetailDto">
        <id property="seekguIdx" column="seekgu_idx"/>
        <result property="seekguTitle" column="seekgu_title"/>
        <result property="seekguContent" column="seekgu_content"/>
        <result property="seekguRestaurantName" column="seekgu_restaurant_name"/>
        <result property="seekguRestaurantLatitude" column="seekgu_restaurant_latitude"/>
        <result property="seekguRestaurantLongitude" column="seekgu_restaurant_longitude"/>
        <result property="memberIdx" column="member_idx"/>
        <result property="seekguMemberNickName" column="writer"/>
        <result property="seekguMemberCount" column="seekgu_member_count"/>
        <result property="seekguMin" column="seekgu_min"/>
        <result property="seekguMax" column="seekgu_max"/>
        <result property="seekguLimitTime" column="seekgu_limit_time"/>
        <result property="seekguRegDate" column="seekgu_reg_date"/>
        <result property="seekguMealTime" column="seekgu_meal_time"/>

        <collection property="reviewList" ofType="review">
            <id property="reviewIdx" column="review_idx"/>
            <result property="seekguIdx" column="seekgu_idx"/>
            <result property="reviewRate" column="review_rate"/>
            <result property="memberNickname" column="member_nickname"/>
            <result property="reviewComment" column="review_comment"/>
        </collection>
    </resultMap>

    <select id="findSeekguBoardWithReviews" resultMap="SeekguBoardWithReviewsResultMap" parameterType="Long">
        SELECT
            s.*,
            r.review_idx, r.seekgu_idx, r.review_rate, r.member_nickname, r.review_comment,
            m.member_nickname as writer
        FROM
            seekguboard s
        LEFT JOIN
            review r ON s.seekgu_idx = r.seekgu_idx
        LEFT JOIN
            member m ON s.member_idx = m.member_idx
        WHERE s.seekgu_idx = #{seekguIdx}
    </select>

    <select id="findSeekguBoardByIdx" resultType="seekguBoard" parameterType="Long">
        SELECT * from seekguboard WHERE seekgu_idx = #{seekguIdx}
    </select>

    <insert id="save" parameterType="seekguBoard" useGeneratedKeys="true" keyProperty="seekguIdx">
        INSERT INTO seekguboard (seekgu_idx, seekgu_title, seekgu_content, seekgu_restaurant_name, seekgu_restaurant_latitude, seekgu_restaurant_longitude, seekgu_min, seekgu_max, seekgu_limit_time, seekgu_reg_date, seekgu_meal_time, member_idx)
        values (0, #{seekguTitle}, #{seekguContent}, #{seekguRestaurantName}, #{seekguRestaurantLatitude}, #{seekguRestaurantLongitude}, #{seekguMin}, #{seekguMax}, #{seekguLimitTime}, NOW(), #{seekguMealTime}, #{memberIdx})
    </insert>
    
    <select id="findRecruitingSeekguBoard" resultType="seekguBoard">
        SELECT * from seekguboard WHERE TIMESTAMPDIFF(MINUTE, seekgu_reg_date, NOW()) <![CDATA[<]]> seekgu_limit_time AND seekgu_member_count  <![CDATA[<]]> seekgu_max
    </select>

    <select id="findDoneSeekguBoard" resultType="seekguBoard">
        SELECT * from seekguboard WHERE TIMESTAMPDIFF(MINUTE, seekgu_reg_date, NOW()) <![CDATA[>=]]> seekgu_limit_time OR seekgu_member_count  <![CDATA[=]]> seekgu_max
    </select>
    <select id="findMySeekguBoard" resultType="seekguBoard" parameterType="Long">
        SELECT * from seekguboard WHERE member_idx = #{memberIdx}
    </select>

    <select id="getSeekguBoardForUpdate" resultType="seekguBoard" parameterType="Long">
        SELECT * FROM seekguboard WHERE seekgu_idx = #{seekguIdx} FOR UPDATE
    </select>

    <update id="participate" parameterType="Long">
        UPDATE seekguboard
        SET seekgu_member_count = seekgu_member_count + 1
        WHERE seekgu_idx = #{seekguIdx}
    </update>

</mapper>