<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="css/login.css" rel="stylesheet"/>
</head>
<body>
    <div class="background">
        <div class="login-wrapper">
            <h2>Login</h2>
            <form method="post" action="서버의url" id="login-form">
                <input type="text" name="userName" placeholder="Email">
                <input type="password" name="userPassword" placeholder="Password">
                <input type="submit" value="Login">
            </form>
            <br>
            <div class="login-to-signup"><a href="/signup.html">or Be Our SeekGoo</a></div>
        </div>
    </div>
</body>
</html>

<div>
    <p></p>
    <p></p>
    <h1></h1>
</div>