<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="css/signup.css" rel="stylesheet"/>
</head>
<body>
    <div class="background">
        <div class="signup-wrapper">
            <h2>Sign Up</h2>
            <form method="post" action="서버의url" id="signup-form">
                <input type="text" name="userName" placeholder="Email">
                <input type="text" name="userName" placeholder="Name">
                <input type="password" name="userPassword" placeholder="Password">
                <input type="text" name="NickName" placeholder="Nickname">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        MAN
                    </label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        WOMAN
                    </label>
                </div>
                <input type="submit" value="Sign Up">   
            </form>
        </div>
    </div>
</body>
</html>